# HW 3

## Instructions

* The course will be using an automatic grading system.
* After each question there will appear a code block with some prepared code to add your answer to a dictionary that will be converted into a data frame, saved as CSV and uploaded to moodle for grading.
* Please do not edit any code other than in placeholders marked `#### your code here ####`, **notice the answer could also be a simple number or string, not an actual code**
* Don't forget to run the code block after you write your answer.
* You can add code blocks wherever you want in order to interact with datasets and play with your own code.
* In the next code block please fill in your ID number and email account as strings in the appropriate places.
* And don't forget to run the block!

In [2]:
ans = {}
ans['HW'] = 'HW3'
ans['id_number'] = '318903028'
ans['email'] = 'matantalvi@mail.tau.ac.il'

## Mora Pandas

### Q1.
Behold the `fifa_wide` DF. There's only so much we can do with it in current form.

In [3]:
import pandas as pd
fifa_d = {'Country': ['France', 'Germany', 'Spain', 'Argentina', 'Brazil'],
      'Continent': ['Europe', 'Europe', 'Europe', 'South America', 'South America'],
      '2014': [7, 1, 23, 2, 4],
      '2018': [1, 22, 10, 16, 6],
      '2022': [2, 17, 13, 1, 7]}

fifa_wide = pd.DataFrame(fifa_d)
fifa_wide

     Country      Continent  2014  2018  2022
0     France         Europe     7     1     2
1    Germany         Europe     1    22    17
2      Spain         Europe    23    10    13
3  Argentina  South America     2    16     1
4     Brazil  South America     4     6     7

Which of the following Pandas methods would be **most easy** to make `fifa_wide` into `fifa_long`, a table with 4 columns (say `[Country, Continent, Year, Rank]`) and 15 rows, holding for each country, for each World Cup year, its Rank.

1. `pd.pivot()`
2. `pd.get_dummies()`
3. `pd.melt()`
4. `pd.merge()`

In [4]:
ans['Q1'] = 3

We have downloaded from [Gapminder data repository](https://www.gapminder.org/data/) the life expectancy data for all countries in the years 1900-1999. 

* Upload the `life_expectancy_years.csv` file from Moodle, however you want.
* Extract from this dataset countries that have data for all years in the range 1900-1999 (i.e. you should discard countires with `Nan` values in years 1900-1999).
* You should get 184 countries.
* Create for each of these the average age for each decade (1900-1909, 1910-1919,...), resulting with a matrix of 184 countries (rows) times 10 decades averages (the country's name is an extra column, so 11 columns).


**Important:** There are many ways to do this manipulation. Looping isn't a sin, but you should know where to use it.

**Sanity check:** the maximum value at the 90s (1990-1999) should be about `80.11`

In [5]:
import pandas as pd
import numpy as np

df_pop = pd.read_csv('life_expectancy_years.csv')

In [6]:
#---discarded Nan values---#
for i in range(1900,2000):
    df_pop = df_pop.loc[df_pop[str(i)].notnull()]
l1 = [num for num in range(101,201)]
l = [0]+ l1
df_pop = df_pop.iloc[:,l]
#---creating decades matrix---#
for i in range(10):
    col_name = "decade" + str(i)
    dec = [(num+10*i) for num in range(1,11)]
    df_pop[col_name] = (df_pop.iloc[:,dec].sum(axis=1))/10
l = [0] + [100+i for i in range(1,11)]
for_matrix = df_pop.iloc[:,l]
for_matrix

,country,decade0,decade1,decade2,decade3,decade4,decade5,decade6,decade7,decade8,decade9
0,Afghanistan,29.70,28.057,30.92,31.54,32.15,35.40,42.62,46.63,44.78,53.17
1,Albania,35.40,33.800,35.40,40.17,44.87,56.97,65.12,69.41,72.34,73.87
2,Algeria,29.54,30.690,31.59,34.75,36.91,49.43,55.10,60.04,67.64,72.87
4,Angola,29.35,28.180,30.73,31.40,33.30,37.46,43.21,47.11,47.73,49.08
5,Antigua and Barbuda,33.80,32.680,36.95,45.35,53.85,60.63,65.22,68.82,72.80,74.36
...,...,...,...,...,...,...,...,...,...,...,...
182,Venezuela,32.44,32.190,32.68,34.73,46.16,57.38,63.32,67.38,70.88,72.48
183,Vietnam,31.04,29.650,30.48,31.56,33.42,50.98,55.89,58.77,66.94,70.07
184,Yemen,23.55,23.200,23.60,23.70,23.71,27.68,37.12,47.89,55.73,60.65
185,Zambia,33.74,31.950,34.38,34.72,36.92,46.56,51.25,55.53,54.52,47.14
186,Zimbabwe,34.12,32.540,34.36,34.48,41.05,50.88,54.91,57.39,61.66,53.58

### Q2.
Which country had the highest life expectancy in the 1970s (1970-1979) ? 

1. Japan
2. Greece
3. Switzerland
4. Norway

In [7]:
for_matrix.loc[for_matrix['decade7'].idxmax()]

country    Greece
decade0     41.42
decade1     41.96
decade2     47.67
decade3     53.16
decade4     49.45
decade5     68.73
decade6     72.33
decade7     75.29
decade8     77.28
decade9     78.09
Name: 65, dtype: object

In [8]:
ans['Q2'] = 2

### Q3.
How many countries had at least 1 "peak" decade? A peak decade is a decade which had a higher life expectancy compared to both the deacdes before and after it (the 1900s and 1990s cannot be called that here)

1. 62
2. 72
3. 78
4. 91

In [9]:
l = np.empty((0,0))
for i in range(1,9):
    cur_col = "decade" + str(i)
    prev_col = "decade" + str(i-1)
    next_col = "decade" + str(i+1)
    for_matrix['peak'] = (np.where((for_matrix[cur_col]>for_matrix[prev_col]) & (for_matrix[cur_col]>for_matrix[next_col]),for_matrix['country'],np.nan)).astype(str)
    l = np.append(l,for_matrix['peak'].unique())
print(len(np.unique(l)))
print(np.unique(l))

73
['Afghanistan' 'Armenia' 'Austria' 'Azerbaijan' 'Bahrain' 'Belarus'
 'Bosnia and Herzegovina' 'Botswana' 'Bulgaria' 'Burundi' 'Cambodia'
 'Cameroon' 'Central African Republic' 'Congo, Dem. Rep.' 'Congo, Rep.'
 "Cote d'Ivoire" 'Croatia' 'Czech Republic' 'Djibouti' 'Estonia'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'Germany' 'Greece' 'Haiti' 'Hungary'
 'Indonesia' 'Iraq' 'Japan' 'Kazakhstan' 'Kenya' 'Lao' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Lithuania' 'Luxembourg' 'Malawi' 'Maldives'
 'Mauritius' 'Moldova' 'Mongolia' 'Montenegro' 'Mozambique' 'Myanmar'
 'Namibia' 'Netherlands' 'Nigeria' 'North Korea' 'Oman' 'Papua New Guinea'
 'Peru' 'Poland' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Seychelles'
 'Singapore' 'Slovak Republic' 'Swaziland' 'Tajikistan' 'Tanzania'
 'Timor-Leste' 'Uganda' 'Ukraine' 'Uzbekistan' 'Zambia' 'Zimbabwe' 'nan']

C:\Users\matan\AppData\Local\Temp\ipykernel_19788\293867773.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_matrix['peak'] = (np.where((for_matrix[cur_col]>for_matrix[prev_col]) & (for_matrix[cur_col]>for_matrix[next_col]),for_matrix['country'],np.nan)).astype(str)

In [10]:
ans['Q3'] = 2

### Q4.
In which decade did most countries experience a decrease in life expectancy compared to the previous decade? (see if you can think of a reason) E.g. if you check from 1980s to 1990s about 20% of countries decreased in life expectency.

1. 1910s compared to 1900s
2. 1920s compared to 1910s
3. 1940s compared to 1930s
4. 1950s compared to 1940s

In [11]:
#l = np.empty((0,0))
for i in range(1,10):
    cur_col = "decade" + str(i)
    prev_col = "decade" + str(i-1)
    x = np.where(for_matrix[cur_col]<for_matrix[prev_col])
    print(x[0].size)
    #l = np.append(l,for_matrix.peak.notnull().sum())
    #l = np.append(l,for_matrix['peak'].unique())
print(l)

130
1
12
30
1
0
10
8
37
['nan' 'nan' 'Congo, Rep.' 'Ethiopia' 'Haiti' 'Kazakhstan' 'Lao'
 'Maldives' 'Mauritius' 'Mongolia' 'Myanmar' 'Oman' 'Peru' 'Qatar' 'nan'
 'Armenia' 'Austria' 'Belarus' 'Bosnia and Herzegovina' 'Burundi'
 'Cambodia' 'Croatia' 'Czech Republic' 'Estonia' 'Finland' 'France'
 'Germany' 'Greece' 'Hungary' 'Indonesia' 'Japan' 'Latvia' 'Lithuania'
 'Luxembourg' 'Moldova' 'Montenegro' 'Netherlands' 'Papua New Guinea'
 'Poland' 'Russia' 'Singapore' 'Timor-Leste' 'Ukraine' 'nan' 'North Korea'
 'nan' 'nan' 'Belarus' 'Burundi' 'Cambodia' 'Czech Republic' 'Estonia'
 'Latvia' 'Lebanon' 'Russia' 'Slovak Republic' 'Ukraine' 'Afghanistan'
 'nan' 'Hungary' 'Iraq' 'Mozambique' 'Uganda' 'Zambia' 'nan' 'Azerbaijan'
 'Bahrain' 'Bosnia and Herzegovina' 'Botswana' 'Bulgaria' 'Burundi'
 'Cameroon' 'Central African Republic' 'Congo, Dem. Rep.' 'Congo, Rep.'
 "Cote d'Ivoire" 'Djibouti' 'Estonia' 'Fiji' 'Kazakhstan' 'Kenya' 'Latvia'
 'Lesotho' 'Liberia' 'Lithuania' 'Malawi' 'Namibia' 'Nigeria'
 'North Korea' 'Romania' 'Russia' 'Rwanda' 'Seychelles' 'Swaziland'
 'Tajikistan' 'Tanzania' 'Ukraine' 'Uzbekistan' 'Zimbabwe']

In [12]:
ans['Q4'] = 1

## Summary Statistics

### Q5.
We have 101 observations for length of hospital stays, with maximum value 95 days, minimum 7 days, and average and median both 50 days. Now assume some software bug is causing the data to change from being measured in days to minutes (the length is multiplied by 24*60=1440). What is the minimal number of observations needed to change before the average exceeds 100?

1. 1
2. 5
3. 10
4. 51

In [16]:
new_max = 95*1440
new_min = 95*1440
cur_sum = 50*101
num_obs = 101
new_sum = cur_sum+new_max-95
new_ave = new_sum/num_obs
print(new_ave)
print((cur_sum + new_min - 7)/num_obs)

1403.5148514851485
1404.3861386138615

In [14]:
ans['Q5'] = 1

### Q6.
In the same setting, what is the minimal number of observations needed to change before the median exceeds 100? 

1. 1
2. 10
3. 51
4. 100

In [18]:
ans['Q6'] = 3

### Q7.
Assume the pollution in city A is exactly double that in city B every day. We measure the pollution in city A over 100 days and put it in a vector $x=(x_1, \dots, x_{100})$ and in city B over the same 100 days giving $y=(y_1, \dots, y_{100})$. We also consider the vectors $u=(log(x_1), \dots ,log(x_{100}))$ and $v = (log(y_1), \dots ,log(y_{100}))$. Which of the following holds: 

1. $u_{10}$ (the 10th observation in $u$) is double $v_{10}$ 
2. The dispersion of $x$ is bigger than of $y$, but the dispersion of $u$ is equal to that of $v$
3. If $x_{10}$ > $y_{10}$ then $u_{10} < v_{10}$
4. None of the above

In [19]:
ans['Q7'] = 2

## Basic Scraping

Consider the following html snippet:

In [20]:
 html_doc = """

    <html><head><title>The Dormouse's story</title></head>
    <body>
    <p class="title"><b>The Dormouse's story</b></p>

    <p class="story">Once upon a time there were three little sisters; and their names were
    <a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
    <a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
    <a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
    and they lived at the bottom of a well.</p>

    <p class="story">Here is an image of Elsie: <a href="http://example.com/elsie"><img src = "elsie.png"></a></p>
    <p class="story">And here is an image of Lacie: <a href="http://example.com/lacie"><img src = "lacie.png"></a></p>
    """

### Q8.
We would like to get a list of the three little sisters names. Fill in the missing line of the following function:

```python    
    from bs4 import BeautifulSoup

    soup = BeautifulSoup(html_doc)

    def get_sisters_names(soup):
        # missing line 1 #
        return [sister.get_text() for sister in sisters]
```

1. `sisters = soup.find_all('sister')`
2. `sisters = soup.find_all('a')`
3. `sisters = soup.find_all(class = 'sister')`
4. `sisters = soup.find_all('a', {'class': 'sister'})`

In [33]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_doc)
def get_sisters_names(soup):
    sisters = soup.find_all('a')
    return [sister.get_text() for sister in sisters]
print(get_sisters_names(soup))
# 1. sisters = soup.find_all('sister')`
# 2. sisters = soup.find_all('a')`
# 3. sisters = soup.find_all(class = 'sister')`
# 4. sisters = soup.find_all('a', {'class': 'sister'})`

['Elsie', 'Lacie', 'Tillie', '', '']

In [25]:
ans['Q8'] = 4

### Q9.
Now we would like to get only the raw text of the Dormouse story, not including the title. Fill in the missing lines of the following function:

```python    
    def get_story(soup):
        # missing line 1 #
        story = ''
        for p in paragraphs:
            # missing line 2 #
            if class_name == 'story':
                story += p.get_text() + ' '
        return ' '.join(story.split())
```

1. line 1: `paragraphs = soup.find_all('p', {'class': 'story'})`; line 2: `class_name = p['class']`
2. line 1: `paragraphs = soup.find_all('p')`; line 2: `class_name = p['class'][0]`
3. line 1: `paragraphs = soup.find_all('p', {'class': 'story'})`; line 2: `class_name = p.find('class')[0]`
4. line 1: `paragraphs = soup.find_all('story')`; line 2: `class_name = p.attr['class']`

In [42]:
def get_story(soup):
    paragraphs = soup.find_all('p')
    story = ''
    for p in paragraphs:
        class_name = p['class'][0]
        if class_name == 'story':
            story += p.get_text() + ' '
    return ' '.join(story.split())
print(get_story(soup))

Once upon a time there were three little sisters; and their names were Elsie, Lacie and Tillie; and they lived at the bottom of a well. Here is an image of Elsie: And here is an image of Lacie:

In [ ]:
ans['Q9'] = 2

### Q10.
What will be the result of calling the following function on our `soup` object (i.e. `does_something(soup)`)?

```python    
    def does_something(soup):
        return [e['src'].split('.')[0] for e in soup.find_all('img')]
```

1. `['elsie.png', 'lacie.png']`
2. `['elsie', 'lacie']`
3. `{'src': ['elsie', 'lacie']}`
4. The function will throw an exception on our `soup` object

In [43]:
def does_something(soup):
    return [e['src'].split('.')[0] for e in soup.find_all('img')]
print(does_something(soup))

['elsie', 'lacie']

In [ ]:
ans['Q10'] = 2

## Scraping ebay

Go to [ebay.com](ebay.com) and search for little boys t-shirts. The ebay website, like any modern website, is filled with text, images and links. But if you are using Google Chrome and you right-click on any page and choose "View page source" you will see the raw HTML script behind it.

Run the following piece of code

In [ ]:
from bs4 import BeautifulSoup
import requests

url = 'https://il.ebay.com/b/Boys-Short-Sleeve-Sleeve-Tops-T-Shirts-Sizes-4-Up/175521/bn_4278610?rt=nc&LH_ItemCondition=1000&LH_BIN=1&LH_PrefLoc=3&_pgn=1'
r = requests.get(url)
soup = BeautifulSoup(r.content, 'lxml')

The above code imports Beautiful Soup, imports the requests library for handling web connections, assigns an ebay search results page address to a variable called `url`, "requests" this URL, stores the response in a variable called `r`, makes a `BeautifulSoup` object out of the response's `content`, and assigns it to a variable called `soup`.

It is advised to visit the url using your browser, so you will have a visual understanding of what you are doing.

Print the raw HTML:

In [ ]:
print(soup.prettify()[:1000])

### Q11.
What is the page's title? Replace `#### your code here ####` to get the title as a simple string, without html tags.

In [ ]:
url_title = #### your code here ####
print(url_title)
ans['Q11'] = url_title

Find the all hyperlinks on page (no credit):

In [ ]:
all_links = #### your code here ####
print('all_links is a: ' + str(type(all_links)))
print()
print('first 5 elements in all_links:')
print(all_links[:5])

### Q12.
What is the class type of `all_links`?

Note: if  the type is <class 'XXXXX'> please write in the answer the correct class (e.g. 'XXXXX' as in this example)

In [ ]:
ans['Q12'] = ### your code here ###

Find the all images on page (no credit):

In [ ]:
images = ### your code here ###

Get a `list` of all image titles from the `images` object, **except for the first one**. Print that list (no credit).

Hint: `alt`

In [ ]:
image_titles = ### your code here ###
print(image_titles)

We need images JPEG addresses. Some have them as attribute `src`, some as attribute `data-src`. This is one way to combine the two. Make sure you understand:

In [ ]:
image_files_src = [img.get('src', None) for img in images[1:]]
image_files_datasrc = [img.get('data-src', None) for img in images[1:]]
image_files = [src if datasrc is None else datasrc for src, datasrc in zip(image_files_src, image_files_datasrc)]
image_files[:5]

Let's find a shirt's price.

Go to the url in your browser and use the code inspection tool (F12) to look interactively at the url source code. Find the element that holds price data. Notice that the price may be nested within a few levels of html tags. you are searching for the "lowest" level, the one that holds the price directly.

In our case it is a `span` element with a specific class.

### Q13.
What is the specific class for span elements holding the prices?

In [ ]:
price_class = ### your code here ###
ans['Q13'] = price_class

Get all prices:

In [ ]:
price_elements = soup.find_all('span', {'class' : price_class})
print(price_elements[:5])

From each of these `price_elements` we extract the actual price text with the `get_text` function:

In [ ]:
print(price_elements[1].get_text())

Notice all prices come with the "ILS" prefix and then the number. Also you can see some prices come as a range. For this project we decided to simply take the minimum price of the range.

To do so we could split this string to its elements:

In [ ]:
print(float(price_elements[1].get_text().split(' ')[1]))

Putting it in a function and getting all prices:

In [ ]:
def parse_price(price_element):
    try:
        price = float(price_element.get_text().split(' ')[1])
    except:
        price = None
    return price

prices = [parse_price(price_e) for price_e in price_elements]

It's time to actually download the shirts images! The following function accepts an image file address, a shirt title and the file name for the image and attempts to download the image to the current directory with the specified file name:

In [ ]:
def download_image(url, title, file_name):
    try:
        response = requests.get(url)    
    except:
        return '', ''
    with open(file_name, "wb") as file:
        file.write(response.content)
    return title, file_name

Download the first image from our page, name it 'test.jpg' (no credit). Make sure it was downloaded correctly and see what the function returns:

In [ ]:
download_image(### your code here ###)

We will now download all of the page's images, using a loop. 

First, create a folder named 'boys' in the current directory. You can do it right here in this notebook!

In [ ]:
!mkdir boys

If you want these images in your Google Drive it needs to be mounted, and then (uncomment):

In [ ]:
# %cd '/content/drive/MyDrive/Colab Notebooks/Intro_DS_2023/HW/HW3/' # assuming an inner folder called Intro_DS_2023 etc.

# !pwd
# !mkdir boys

### Q14, Q15.
Fill in the blanks to correctly create a dictionary called `images_data` which will hold the `title` of the image, its `file_name`, and the shirt's `price`:

In [ ]:
from ipywidgets import IntProgress
from IPython.display import display


your_answer_1 = ### your code here ###
your_answer_2 = ### your code here ###


images_data = {'title': {},
               your_answer_1: {},
               'price': {}}

f = IntProgress(min = 0, max = len(images[1:])) # instantiate a progress bar
display(f) # display the bar

for i in range(len(images[1:])):
    title, file_name = download_image(image_files[i], image_titles[i], './boys/' + str(i) + '.jpg')
    images_data['title'][i] = title
    images_data['file_name'][i] = file_name
    images_data[your_answer_2][i] = prices[i]
    f.value += 1

        
ans['Q14'] = your_answer_1 
ans['Q15'] = your_answer_2

One thing that would prove useful later on is having a dataset which summarizes all we have gathered. That's what `images_data` is for. We're going to use `pandas` to make it a `DataFrame` we can easily read and write:

In [ ]:
import pandas as pd
images_data_df = pd.DataFrame(images_data)
print(images_data_df.shape)
images_data_df.head()

This was fun, we got 48 images. But we're looking to get times ~200 than that, and the same amount of shirts images for girls. 

The following function was run to get all boys shirts images. Challenge yourself to complete it exactly as we did, but don't run it, we have the images for you!

In [ ]:
run = False # change this to actually run

if run:
    boys_url = 'https://il.ebay.com/b/Boys-Short-Sleeve-Sleeve-Tops-T-Shirts-Sizes-4-Up/175521/bn_4278610?rt=nc&LH_ItemCondition=1000&LH_BIN=1&LH_PrefLoc=3&_pgn=1'
    max_pages = 400
    boys_items_data = {'title': {}, 'file_id': {}, 'price': {}}

    f = IntProgress(min = 0, max = max_pages)
    display(f)

    all_items_counter = 0

    for page_num in range(max_pages):
        url = boys_url + str(page_num)
        try:
            r = requests.get(url, "lxml")
        except:
            print('Stopped at page: ' + page_num)
            break
        soup = BeautifulSoup(r.content)
        ### get images, image_titles, image_files, prices ###

        try:
            assert len(prices) == len(images)
        except:
            print('Found unequal number of prices in page_num % d' % page_num)
            prices = [None] * len(images)

        for i in range(len(images)):
            title, file_name = download_image(### your code here ###)
            boys_items_data['title'][all_items_counter + i] = title
            boys_items_data['file_id'][all_items_counter + i] = all_items_counter + i
            boys_items_data['price'][all_items_counter + i] = prices[i]
        all_items_counter += len(images)
        f.value += 1

## Basic EDA on ebay images

The `ebay_boys_girls_shirts.tar.gz` file is about 250MB on disk. You can either:

1. Store it on your local machine, read and extract it as shown below (because you're working with Jupyter Notebooks). Notice this would extract all images locally, you would not have to do this again later on.
2. Store it on your local machine, then **if you have a super-fast internet connection** upload it manually to your Google Colab notebook environment like any other file, exrtact it there -- the upload might be very slow, so not recommended
3. Store it on Google Drive, then ount Google Drive, copy the file to your Google Colab notebook, then extract it there -- my preferred option

Uncomment and run just one of these:

In [ ]:
# # option 1
# import tarfile

# path = '../' # this is the path to my local file, what is yours?

# # extract it
# with tarfile.open(path + 'ebay_boys_girls_shirts.tar.gz') as tar:
#     tar.extractall(path)

In [ ]:
# # option 2
# # (after you have uploaded the file to Google Colab notebook - really, it didn't take hours?!)
# !tar -xzvf ebay_boys_girls_shirts.tar.gz

In [ ]:
# # option 3
# # copy the file from GD
# !cp drive/MyDrive/ebay_boys_girls_shirts.tar.gz .

# # extract it
# !tar -xzvf ebay_boys_girls_shirts.tar.gz

Now that you have the images, let's look at some of the images in the training set. In order to see boys vs. girls shirts, we'll display a random group from each folder, side by side.

Let's get the metadata CSV files first as `pandas` DataFrames. Inspect these DF's and understand what the data in them means.

In [ ]:
import pandas as pd
import numpy as np

path = '../' # this is MY path, e.g. if the folder is in the current notebook environment, change this to '.'
folder = path + 'ebay_boys_girls_shirts/'
boys_train_df = pd.read_csv(folder + 'boys_train.csv')
girls_train_df = pd.read_csv(folder + 'girls_train.csv')

In [ ]:
boys_train_df.head()

Get a random sample of 400 image files (without replacement) from each folder (boys and girls), completing the following function (no credit):

`file_ids_list` should hold a random sample of size `n_sample`  from `df`. 

**Hint1**: Take into account the dimensions of the DataFrame

**Hint2**: You might find  the function `np.random.choice()` useful.

In [ ]:
def get_file_list(df, folder, n_sample = None, seed = None):
  np.random.seed(0)
  if n_sample is None:
      file_ids_list = df.file_id.values
  else:
      file_ids_list = ### your code here ###
  files_list = [folder + '/' + str(file_id) + '.jpg' for file_id in file_ids_list]
  return files_list

boys_display_files = get_file_list(boys_train_df, folder + 'boys', 400)
girls_display_files = get_file_list(girls_train_df, folder + 'girls', 400)
print(boys_display_files[:5])

Next we want to read each batch of random images as a 4D `numpy` array. Why 4D? That's [N images X height X width X N color channels], where in our case `N color channels` is 3 (Red, Green and Blue).

The function `read_image_and_resize()` takes an image file address `f`, reads it with the standard [matplotlib](https://matplotlib.org/) library, `resize`s it to the given width and height in pixels (we use 100 for both) with the [skimage](http://scikit-image.org/docs/dev/api/skimage.html) library, and makes sure it is a 4D array, the size of `[1, 100, 100, 3]`:

In [ ]:
import warnings
import numpy as np
import matplotlib.pyplot as plt
from skimage import transform, color, img_as_ubyte
import cv2

%matplotlib inline

def read_image_and_resize(f, w = 100, h = 100):
    if f.endswith('jpg'):
      img = cv2.imread(f)
      with warnings.catch_warnings():
          warnings.simplefilter("ignore")
          img = transform.resize(img, (w, h), mode='constant') 
          img = img_as_ubyte(img)
      img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
      img = img[np.newaxis, :, :, :3]
      if img.shape != (1, 100, 100, 3):
          raise ValueError(f + str(img.shape))
    return img

Complete the `read_images_4d_array()` function which receives for boys and for girls our list of random images files and returns the final 4D array.

First create the list of single 4D arrays called `images_list`. Then lookup [NumPy](http://www.numpy.org/) documentation (or wherever you want) to see the proper NumPy function to "glue" the list of arrays into a single array called `images_array` (it has to be a 4D array).

**Hint**: there are several ways to do it, `np.squeeze()` is one of them.

In [ ]:
def read_images_4d_array(files_list):
    images_list = #[### your code here ### for file in files_list]
    images_array = ### your code here ###
    return images_array

### Q16, Q17.
Your final arrays for boys and for girls should be of dimensions:

In [ ]:
boys_display_images = read_images_4d_array(boys_display_files)
girls_display_images = read_images_4d_array(girls_display_files)
print(boys_display_images.shape)
ans['Q16'] = boys_display_images.shape

In [ ]:
print(boys_display_images.dtype)
ans['Q17'] = boys_display_images.dtype

The function `merge_images()` will take our 4D images numpy array of 400 images and make it a 20x20 grid of sub-images. Complete the code to display two grids of boys and girls shirts side by side, as you see below (no credit):

**Hint**: `plt.imshow()` might be useful

In [ ]:
def merge_images(image_batch, size = [20, 20]):
    h,w = image_batch.shape[1], image_batch.shape[2]
    c = image_batch.shape[3]
    img = np.zeros((int(h*size[0]), w*size[1], c))
    for idx, im in enumerate(image_batch):
        i = idx % size[1]
        j = idx // size[1]
        img[j*h:j*h+h, i*w:i*w+w,:] = im/255.0 #notice we divide by 255 to get 0-1 float range
    return img

boys_merged = ### YOUR CODE HERE ###
girls_merged = ### YOUR CODE HERE ###

fig, ax = plt.subplots(ncols = 2, figsize = (20,5))

ax[0].set_title('Boys Shirts')
ax[0].axis('off')
_ = ax[0].### YOUR CODE HERE ###

ax[1].set_title('Girls Shirts')
ax[1].axis('off')
_ = ax[1].### YOUR CODE HERE ###

What would you say is the most obvious difference between boys and girls shirts images?

Let's look at the color histograms for the RGB channels for our images:

You'll need to know how to flatten a N-D numpy array:

In [ ]:
a = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print('a 3d array:')
print(a)
print("it's shape:")
print(a.shape)
print("the 2d matrix on the first level of the 3d array")
print(a[:, :, 0])
print("the matrix's values flattened as a 1d array")
print(a[:, :, 0].flatten())

Complete the `plot_hist()` function to see all color histograms for boys and girls shirts images. See the function usage below for more hints regarding its expected input.

If you prefer you may change the code to use seaborn instead of matplotlib for the histogram construction.

In [ ]:
def plot_hist(images, channel, col):
    vals = ### YOUR CODE HERE ###
    plt.hist(### YOUR CODE HERE ###)
    plt.yticks([])

    
plt.figure(figsize =(10, 5))
plt.subplot(3, 2, 1)
plot_hist(boys_display_images, 0, 'red')
plt.title('Boys Shirts')
plt.subplot(3, 2, 2)
plot_hist(girls_display_images, 0, 'red')
plt.title('Girls Shirts')
plt.subplot(3, 2, 3)
plot_hist(boys_display_images, 1, 'green')
plt.subplot(3, 2, 4)
plot_hist(girls_display_images, 1, 'green')
plt.subplot(3, 2, 5)
plot_hist(boys_display_images, 2, 'blue')
plt.subplot(3, 2, 6)
plot_hist(girls_display_images, 2, 'blue')
plt.show()

What would you say is the most obvious difference between boys and girls shirts images?

### Q18, Q19, Q20.

See the channels mean and median verify your "feelings". Also print out the share of pixels above say 220:

In [ ]:
def summary(images, channel, col):
    vals = ### YOUR CODE HERE ###
    chan_mean = np.round(### YOUR CODE HERE ###, 3)
    chan_median = np.round(### YOUR CODE HERE ###, 3)
    chan_share_above_220 = np.round(### YOUR CODE HERE ###, 3)
    print('{} mean: {}, median: {}, share above 220: {}'.format(col, str(chan_mean), str(chan_median), str(chan_share_above_220)))

print('Boys:')
summary(boys_display_images, 0, 'red')
summary(boys_display_images, 1, 'green')
summary(boys_display_images, 2, 'blue')
print('Girls:')
summary(girls_display_images, 0, 'red')
summary(girls_display_images, 1, 'green')
summary(girls_display_images, 2, 'blue')

For the summary statistics of the red channel of Girl shirts, please fill in:

#### Q18: mean
#### Q19: median
#### Q20:  share above 220

In [ ]:
ans['Q18'] = ### YOUR answer HERE ###
ans['Q19'] = ### YOUR answer HERE ###
ans['Q20'] = ### YOUR answer HERE ###

# Finish!

* To submit your HW please run this last code block and follow the instructions.
* This code will create a CSV file in the current directory on your local machine or in your google drive (Google Colab)
* Please download it and upload it to the moodle HW1
* Make sure that you write your ID correctly!

In [ ]:
import pandas as pd

df_ans = pd.DataFrame.from_dict(ans, orient='index')
if df_ans.shape[0] == 23:
  df_ans.to_csv('{}_{}.csv'.format(ans['HW'],str(ans['id_number'])))
else:
    print("seems like you missed a question, make sure you have run all the code blocks")

**For Google Colab users who want to save their CSV in their drive**

* Run the following script.
* Note that you will need to authorize GD once. For more information: https://colab.research.google.com/notebooks/io.ipynb (under Mounting Google Drive locally)
* You may change the path to be in your inner folder at GD, or not use GD at all and just manually download the CSV file to your local machine.
* Eventually upload the CSV to Moodle.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Three options of the path of the file 
path ='/content/drive/MyDrive/' # general outer folder
# path = '/content/drive/MyDrive/Colab Notebooks/Intro_DS_2023/HW/HW3/' # assuming an inner folder called Intro_DS_2023 etc.
# path = './' # here, in this notebook environment

import pandas as pd 
df_ans = pd.DataFrame.from_dict(ans, orient='index')

if df_ans.shape[0] == 23:
  df_ans.to_csv(path+'{}_{}.csv'.format(ans['HW'],str(ans['id_number'])))
else:
    print("seems like you missed a question, make sure you have run all the code blocks")